{% extends "base.html.jinja" %}
{% block content %}
<article>
    <h1>
        Book shop inventory app
    </h1>
    <h3>
        App that allows you to effectively manage the inventory of a book shop
    </h3>
    <h4>
        Click on one of the links at the top to manage either the publishers or the books in the system
    </h4>
</article>
{% endblock %}