{% extends "base.html.jinja" %}

{% block content %}
    <div class="main_index">
        <div class="add_element">
            <button>
                <a href="/publishers/new">Add new publisher</a>
            </button>
        </div>
        <div class="all_elements">
        {% for publisher in publishers %}
            <div class="element">
                <h2>
                    {{ publisher.name }}
                </h2>
                <p>
                    Country: {{ publisher.country }}
                </p>
                <p>
                    Address: {{ publisher.address }}
                </p>
                <div class="action_buttons">
                    <form action="publishers/{{ publisher.id }}/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <button>
                        <a href="publishers/{{ publisher.id }}/edit">Edit</a>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}