{% extends "base.html.jinja" %}

{% block content %}
    <div>
        <button>
            <a href="/publishers/new">Add new publisher</a>
        </button>
    </div>
    {% for publisher in publishers %}
        <div class="all_publishers">
            <p>
                {{ publisher.name }}
            </p>
            <p>
                {{ publisher.country }}
            </p>
            <p>
                {{ publisher.address }}
            </p>
            <form action="publishers/{{ publisher.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}
{% endblock %}